* {
  //
}

#follower {
  font-size: 5rem;
  color: red;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 300px;
  max-height: 100px;
}

#cat-1-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 425px;
  width: 425px;
}

#cat-2-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 450px;
  width: 450px;
}

#cat-3-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 700px;
  width: 700px;
}

#mouse-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 250px;
  width: 250px;
}
